/* TODO: Convert everything over to .new-add-border*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  margin-bottom: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-color: black;
  color: white;
  font-family: 'Palatino Linotype', sans-serif;
  width: 100%;
}

.footer {
  margin: 30px;
}

#root {
  margin-bottom: 30px;
}

label.enhancement {
  font-size: 15px;
  padding-right: 5px;
}

.enhancement-icon {
  width: 15px !important;
  height: 15px !important;
  position: absolute;
}

.header {
  background: url('./images/ui/background.png');
  font-size: 50px;
  font-family: 'Palatino Linotype';
  color: black !important;
}

.attack-modifier {
  width: 30%;
  cursor: pointer;
  border: 1px solid beige;
}

.character {
  cursor: pointer;
  height: 300px;
  width: 200px;
  border-radius: 25%;
  padding: 20px;
  border: 3px solid black;
}

.disable {
  cursor: not-allowed;
  filter: grayscale(100%);
}

.character-title {
  color: black;
  font-size: 35px;
  font-family: 'Palatino Linotype';
  font-weight: bold;
  background: url('./images/ui/background.png');
}

.cardSet {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.chooseCards,
.hand {
  cursor: pointer;
  padding: 3px;
  border: 4px solid black;
  transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
}

.chooseCards,
.hand img {
  height: 300px;
  width: 200px;
}

.chooseCardsTable {
  position: relative;
}

.level {
  padding-right: 50px;
}

.hand {
  position: relative;
}

.character-selected {
  border-color: white;
}

#game-selector {
  margin-bottom: 1em;
}

.new-add-border {
  border: 4px white solid;
}

.add-border {
  height: 300px;
  width: 200px;
  cursor: pointer;
  border-color: white !important;
}

.active-selected {
  height: 300px;
  width: 200px;
  cursor: pointer;
  border-color: red !important;
}

.discard-selected,
.lost-selected,
.must-lose {
  cursor: pointer;
  border-color: red !important;
}
.card-counter {
  background-color: black;
  height: 50px;
  width: 50px;
  font-size: 25px;
  color: white;
  font-weight: bold;
  text-align: center;
}

#play-game {
  color: white;
  font-size: 25px;
}

.chosen-cards-title {
  padding: 20px;
  width: 50%;
}
#active-cards-title {
  padding: 20px;
}
#discarded-cards-title {
  padding: 20px;
}
#lost-cards-title {
  padding: 20px;
}
#hp-xp-loot,
#play-area {
  width: 100%;
}

.card-in-play,
.active-card {
  cursor: pointer;
  border: 2px solid black;
  transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
  position: relative;
}

.discarded,
.lost {
  height: 200px;
  width: 133px;
  cursor: pointer;
  border: 4px solid black;
  transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
  position: relative;
}

.hiding {
  display: none;
}

.visible {
  display: block;
}

#choose-to-lose {
  color: red;
}

.button {
  font-family: 'Palatino Linotype';
  font-size: 20px;
  margin-top: 20px;
}

.hand-button {
  display: inline;
}

.status {
  width: 40px;
  height: 40px;
  border: 3px solid white;
}

#status-effects,
#xp,
#health,
#bear-effects,
#loot {
  border: 1px solid white;
}

#xp,
#health,
#loot {
  min-width: 33%;
}
#spacer {
  visibility: hidden;
  width: 0px;
}

#bear-spacer {
  visibility: hidden;
  width: 0px;
}

#level-counter {
  font-size: 30px;
  color: white;
  font-family: 'Palatino Linotype';
}

.level-modifier {
  font-size: 30px;
}

.active-tracker1,
.active-tracker2,
.active-tracker3,
.active-tracker4,
.active-tracker5,
.active-tracker6 {
  width: 100px;
  height: 50px;
  cursor: pointer;
  border: 1px solid black;
}

.bordered {
  border-color: white;
}

.invisible {
  visibility: hidden;
}

.button:hover {
}

.not-while-resting:hover,
.not-while-in-play:hover,
.not-without-more-cards:hover,
.not-without-more-selected:hover,
.not-unless-resting:hover,
.must-click-previous-tracker:hover,
.can-only-do-once:hover,
.at-max:hover,
.at-min:hover,
.poisoned:hover,
.not-without-playing-cards:hover {
  cursor: not-allowed;
}

.not-while-resting,
.not-while-in-play,
.not-without-more-cards,
.not-without-more-selected,
.not-unless-resting,
.must-click-previous-tracker,
.can-only-do-once,
.at-max,
.at-min,
.poisoned,
.not-without-playing-cards {
  opacity: 0.25;
}

.checkbox {
  border: 1px solid white;
  display: inline;
  width: 20px;
  height: 20px;
  padding: 15px 15px;
  margin: 5px;
  cursor: pointer;
  background-color: black;
  box-sizing: border-box;
  font-size: 0px;
}

.perks p {
  display: inline;
  padding-left: 10px;
}

.perks div {
  line-height: 50px;
  text-align: left;
}

.checked {
  background: url('./images/ui/perkCheck.png');
  background-size: contain;
  z-index: 1;
}

.perks {
  background: url('./images/ui/background.png');
  font-size: 20px;
  font-weight: bold;
  width: 750px;
  padding: 25px 0;
  color: black;
}

.discard-selected,
.lost-selected {
  width: 200px;
  height: 300px;
  transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
}

#zoomModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#zoomModal.input {
  color: red;
}

#zoomContent {
  background-color: #fefefe;
  margin: 90px auto 60px auto;
  padding: 10px;
  border: 1px solid #888;
  width: 75%;
}

#zoomFeedbackContent {
  margin: 90px auto 60px auto;
  padding: 10px;
  border: 1px solid #888;
  width: 75%;
}

#used-modifier-cards img {
  width: 100px;
  display: inline-block;
  padding: 10px;
}

.close {
  color: #aaa;
  float: right;
  top: 0;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h6,
#cardsInDeck {
  padding: 0;
  margin: 0;
}

#bear-health {
  width: 50%;
  display: inline-block;
}

#character-health {
  width: 50%;
  display: inline-block;
}
.card {
  width: 200px !important;
  height: 300px !important;
}

#beastTyrantOption .character-title {
  margin-top: 11px;
}

.solo-scenario-label {
  width: 178px;
  display: inline;
}

/* Slider for Two Minis */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 24px;
  top: 2px;
  left: 13px;
}

.bm-item:focus {
  outline: none;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 16px;
  top: 16px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #0f1010eb;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
